footer {
  padding: 3em;
  color: var (--white);
  font-size: 0.8em;

  a {
    svg {
      stroke: var(--white);
      stroke-width: 1.5;
      margin: 0.5em;
      width: 20px;
      height: 20px;
      transition-timing-function: ease-in-out;
      transition: 200ms;

      &:hover {
        stroke: var (--darkgray3);
      }
    }
  }

  p {
    color: var(--white);
    span {
      margin: 0 0.5em;
    }
  }
}
